.wrapper {
  display: flex;
  margin: 10px;
  border-radius: 8px;
  height: 42px;
  background-color: gray;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px
}
.coefficent {
  border-radius: 5px;
  font-size: 0.7em;
  width: 45px;
  font-family: Roboto;
  display: flex;
  align-items: center;
  height: 1.5em;
  justify-content: center;
}
.zero_cf{
  border: red 1px solid;

}
.sm_cf{
  border: white 2px solid;
}
.md_cf{
  border: orange 2px solid;
}
.lg_cf{
  border: green 2px solid;

}

