//:root {
//  --wrapper-width: 300px;
//}
.wrapper {
  display: flex;
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 8px;
  height: 64px;
  background-color: gray;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
}
.coefficent {
  border-radius: 5px;
  font-size: 0.7em;
  //margin-left: 2%;
  width: calc(9%);
  font-family: Roboto;
  display: flex;
  align-items: center;
  height: 1.5em;
  text-align: center;
  justify-content: center;
}
.zero_cf{
  border: red 1px solid;

}
.sm_cf{
  border: white 2px solid;
}
.md_cf{
  border: orange 2px solid;
}
.lg_cf{
  border: green 2px solid;

}

