.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 3;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 10px;
  height: 30px;
}
